<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="bs-callout bs-callout-warning">
				<h4>APP</h4>
				<div id="apps">
					<div align="right">
						<button id="app-add-btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#app_modal">add</button>
						<button id="app-del-btn" type="button" class="btn" style="background-color:#ff6e6e;color:#fff; border-color:#ee6e6e" data-toggle="modal" data-target="#app_del_modal">delete</button>
					</div>
					<div class="rectangle-list">
						<ol id="app-list">
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"><aside></aside></div>
		<div class="col-md-3">
			<div class="bs-callout bs-callout-primary">
				<h4>Location</h4>
				<div id="locations">
					<div align="right">
						<button id="location-add-btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#location_modal">add</button>
						<button id="location-del-btn" type="button" class="btn" style="background-color:#ff6e6e;color:#fff; border-color:#ee6e6e" data-toggle="modal" data-target="#location_del_modal" >delete</button>
					</div>
					<div class="rectangle-list">
						<ol id="location-list">
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"><aside></aside></div>
		<div class="col-md-3">
			<div class="bs-callout bs-callout-success">
				<h4>Campaign</h4>
				<div id="campaigns">
					<div align="right">
						<button id="campaign-add-btn" type="button" class="btn btn-info" data-toggle="modal" data-target="#campaign_modal">add</button>
						<button id="campaign-del-btn" type="button" class="btn" style="background-color:#ff6e6e;color:#fff; border-color:#ee6e6e" data-toggle="modal" data-target="#location_del_modal" >delete</button>
					</div>
					<div class="rectangle-list">
						<ol id="campaign-list">
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="app_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">App Info RegistForm</h4>
				</div>
				<div class="modal-body">
					<span>App Title</span> :<input id="app-title" type="text">
				</div>
				<div class="modal-footer">
					<input name="ok" class="btn btn-default" value="등록">
					<input name="cancel" type="reset" data-dismiss="modal" value="취소">
				</div>
			</form>
		</div>
	</div>
</div>
<div id="app_del_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="container-fluid">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete App</h4>
					</div>
					<div class="modal-body">
						<div>App List</div>
						<div>
							<ol id="del-modal-app-list" class="rounded-list">
							</ol>
						</div>
					</div>
					<div class="modal-footer">
						<input name="ok" class="btn btn-default" value="삭제">
						<input name="cancel" type="reset" data-dismiss="modal" value="취소">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="location_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Location Info RegistForm</h4>
				</div>
				<div class="modal-body">
					<div>
						<span>Location ID</span>: <input id="location-id" type="text">
					</div>
					<div>
						<span>Location DESC</span>: <input id="location-desc" type="text">
					</div>
				</div>
				<div class="modal-footer">
					<input name="ok" class="btn btn-default" value="등록">
					<input name="cancel" type="reset" data-dismiss="modal" value="취소">
				</div>
			</form>
		</div>
	</div>
</div>
<div id="location_del_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="container-fluid">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Delete Location</h4>
					</div>
					<div class="modal-body">
						<div>Location List</div>
						<div>
							<ol id="del-modal-location-list" class="rounded-list">
						</ol>
						</div>
					</div>
					<div class="modal-footer">
						<input name="ok" class="btn btn-default" value="삭제">
						<input name="cancel" type="reset" data-dismiss="modal" value="취소">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="campaign_modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Campaign Connection Form</h4>
				</div>
				<div class="modal-body">
					<input name="ok" class="btn btn-default" value="등록">
					<input name="cancel" type="reset" data-dismiss="modal" value="취소">
				</div>
				<div class="modal-footer">
					<div class="rows rectangle-list" style="float:left; position:block;">
						<ol id="modal-campaign-list" class="connectedSortable" >
						</ol>
					</div>
					<div class="rows rectangle-list" style="float:right; position:block;">
						<ol id="sel-modal-campaign-list" class="connectedSortable">
						</ol>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="campaign_del_modal" class="hidden">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<form>
				<div class="container-fluid">
					<div>
						Delete Campaigns
					</div>
					<div class="rows">
						<ol id="del-modal-campaign-list" class="rounded-list">
						</ol>
					</div>
					<div>
						<input name="ok" class="btn btn-default" value="확인">
						<input name="cancel" type="reset" value="취소">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/app-location.js"></script>
