<!--html interface builder-->
<!--http://www.layoutit.com/-->
<!--http://bit.ly/2sEb6C3-->

<div class="page-head">
  <h1>
    <span>> Campaign Registration</span>
    <small>campaign advisor</small>
  </h1>
</div>
<form action="http://localhost:30022/api/campaigns/url" method="post">
  <div class="form-group">
    <label for="person">담당자</label>
    <input type="text" class="textbox">
  </div>
  <h2>Preview</h2>
  <div class="row" id="template" style="height:260px">
    <div class="col-md-4" id="template1">
      <div class="thumbnail">
        <div style=float:right>x</div><br>
        <img class="templateThumbnail" alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg">
        <div><input id="temp1Check" type="checkbox"><label class="ad_expire_day_title" for="temp1Check">오늘은 그만보기</label></div>
      </div>
    </div>
    <div class="col-md-4" id="template2">
      <div class="thumbnail">
        <div style=float:right>x</div><br>
        <img class="templateThumbnail"  alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg">
      </div>
    </div>
    <div class="col-md-4" id="template3">
      <div class="thumbnail">
        <img class="templateThumbnail"  alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg">
        <input id="temp2Check" type="checkbox"><label class="ad_expire_day_title" for="temp2Check">오늘은 그만보기</label>
        <div style=float:right>x</div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <input type="radio" name="template" value="1">템플릿1
    <input type="radio" name="template" value="2">템플릿2
    <input type="radio" name="template" value="3">템플릿3
  </div>
  <br><br><br>
  <div class="form-group">
    <label>Explaination</label><br>
    <input class="textbox" type="text" name="desc" placeholder="물약 광고">

  </div>
  <div class="form-group">
    <label>Expire day title</label><br>
    <input type="text" class="textbox" id="ad_expire_day_title" name="title" placeholder="7일 광고 그만 보기">
  </div>
  <div class="dropdown">
    <input name="ad_expire_day" hidden>
    <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <div class="btn btn-primary" id="ad_expire_day">날짜를 선택해주세요.</div><span class="caret"></span>
    </div>
    <ul class="dropdown-menu">
      <li><a class="ad_expire_day">0</a></li>
      <li><a class="ad_expire_day">1</a></li>
      <li><a class="ad_expire_day">2</a></li>
      <li><a class="ad_expire_day">3</a></li>
      <li><a class="ad_expire_day">4</a></li>
      <li><a class="ad_expire_day">5</a></li>
      <li><a class="ad_expire_day">6</a></li>
      <li><a class="ad_expire_day">7</a></li>
    </ul>
  </div>
  <h3>권역 설정</h3>
  <div class="btn-group">
    <button class="btn btn-default" type="button">한국</button>
    <button class="btn btn-default" type="button">미국</button>
    <button class="btn btn-default" type="button">중국</button>
    <button class="btn btn-default" type="button">전체</button>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-6">
      <label>노출 선택</label><br>
    </div>
    <div class="col-md-6">
      <input type="radio" name="urlType" value="image">Image
      <input type="radio" name="urlType" value="url">URL
    </div>
  </div>
  <br>
  <div id="urlType">
    <div class="form-group" id="urlTypeimage">
      <label for="urlTypeimageInput" class="button">File input</label>
      <input type="file" id="urlTypeimageInput" accept="image/*">
    </div>
    <div class="form-group" id="urlTypeurl">
      <label for="URL">URL Input</label>
      <input class="textbox" type="text" id="urlTypeurlInput" name="url">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <label>선택시 이동경로</label><br>
    </div>
    <div class="col-md-6">
      <input type="radio" name="locationType" value=0>게임 내 이동
      <input type="radio" name="locationType" value=1>URL
    </div>
  </div>
  <br>
  <div class="form-group" id="redirect_location_div">
    <label for="redirect_location">redirect_location</label>
    <br><br>
    <input class="textbox" type="text"  id="redirect_location" name="redirect_location" placeholder="물약 상점">
    <br><br>


  </div>
  <div class="dropdown">
    <input name="ratio" hidden>
    <div class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <div class="btn btn-primary" id="ratio">창크기를 선택해주세요.</div><span class="caret"></span>
    </div>
    <ul class="dropdown-menu">
      <li><a class="ratio">전체화면</a></li>
      <li><a class="ratio">500x500</a></li>
    </ul>
  </div>
  <br>
  <div>시작날짜 :<br><input type="text" class="datepicker" name="startDate"></div><br>
  <div>끝날짜   :<br><input type="text" class="datepicker" name="endDate"></div>
  <br><br>
  <!-- <button type="submit" class="btn btn-default">Submit</button>  -->
  <button type="button" class="button" id="submit">Submit</button>
</form>
</div>
</div>
</div>

<script src="/js/campaign.js"></script>
