<!DOCTYPE html>
<html>
<head>
	<title>aa</title>
	<link rel='stylesheet' href='../public/stylesheets/callout.css' />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<style type="text/css">
		ol {
			counter-reset: li; /* Initiate a counter */
			list-style: none; /* Remove default numbering */
			*list-style: decimal; /* Keep using default numbering for IE6/7 */
			font: 15px 'trebuchet MS', 'lucida sans';
			padding: 0;
			margin-bottom: 4em;
			text-shadow: 0 1px 0 rgba(255,255,255,.5);
		}

		ol ol {
			margin: 0 0 0 2em; /* Add some left margin for inner lists */
		}

		.rounded-list a{
			position: relative;
			display: block;
			padding: .4em .4em .4em 2em;
			*padding: .4em;
			margin: .5em 0;
			background: #ddd;
			color: #444;
			text-decoration: none;
			border-radius: .3em;
			transition: all .3s ease-out;   
		}

		.rounded-list a:hover{
			background: #eee;
		}

		.rounded-list a:hover:before{
			transform: rotate(360deg);  
		}

		.rounded-list a:before{
			content: counter(li);
			counter-increment: li;
			position: absolute; 
			left: -1.3em;
			top: 50%;
			margin-top: -1.3em;
			background: #87ceeb;
			height: 2em;
			width: 2em;
			line-height: 2em;
			border: .3em solid #fff;
			text-align: center;
			font-weight: bold;
			border-radius: 2em;
			transition: all .3s ease-out;
		}
		.hidden {
			style="display: none;"
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="bs-callout bs-callout-warning">
					<h4>APP</h4>
					<div id="apps">
						<div align="right">
							<button id="app-add-btn" type="button" class="btn btn-info" >add</button>
							<button id="app-del-btn" type="button" class="btn" style="background-color:#ff6e6e;color:#fff; border-color:#ee6e6e">delete</button>
						</div>
						<div>
							<ol class="rounded-list">
								<li><a>list1</a></li>
								<li><a>list2</a></li>
								<li><a>list3</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"><aside></aside></div>
			<div class="col-md-3">
				<div class="bs-callout bs-callout-primary">
					<h4>Location</h4>
					<div id="locations">
						<div align="right">
							<button id="location-add-btn" type="button" class="btn btn-info" >add</button>
							<button id="location-del-btn" type="button" class="btn" style="background-color:#ff6e6e;color:#fff; border-color:#ee6e6e">delete</button>
						</div>
						<div>
							<ol class="rounded-list">
								<li><a>list1</a></li>
								<li><a>list2</a></li>
								<li><a>list3</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"><aside></aside></div>
			<div class="col-md-3">
				<div class="bs-callout bs-callout-success">
					<h4>Campaign</h4>
					<div id="campaigns">
						<div align="right">
							<button id="campaign-add-btn" type="button" class="btn btn-info" >add</button>
							<button id="campaign-del-btn" type="button" class="btn" style="background-color:#ff6e6e;color:#fff; border-color:#ee6e6e">delete</button>
						</div>
						<div>
							<ol class="rounded-list">
								<li><a>list1</a></li>
								<li><a>list2</a></li>
								<li><a>list3</a></li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="app_modal">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<form>
					<div>
						앱 이름: <input id="app_title" type="text">
					</div>
					<div>
						<input name="ok" class="btn btn-default" value="등록">
						<input name="cancel" type="reset" value="취소">
					</div>
				</form>
			</div>
		</div>
	</div> 
	<script type="text/javascript">
		"use strict";
		$(document).ready(function(){
			var apps = $('div#apps');
			var locations = $('div#locations');
			var campaigns = $('div#campaigns');
			var appAddBtn = $('button#app-add-btn');
			var appDelBtn = $('button#app-del-btn');
			var locationAddBtn = $('button#location-add-btn');
			var locationDelBtn = $('button#location-del-btn');
			var campaignAddBtn = $('button#campaign-add-btn');
			var campaignDelBtn = $('button#campaign-del-btn');
			var appModal = $('div#app_modal');

			appAddBtn.on('click',function(e){
				if(appModal.hasClass("hidden")){
					appModal.show();
					appModal.removeClass("hidden");
				}else{
					appModal.hide();
					appModal.addClass("hidden");
				}
			});

			appModal.on("click","input[name='ok']",function(e){
				//ajax
			});

			appModal.on("click","input[name='cancel']",function(e){
				appModal.hide();
				appModal.addClass("hidden");
			});

			appDelBtn.on('click',function(e){

			});

			locationAddBtn.on('click',function(e){

			});

			locationDelBtn.on('click',function(e){

			});

			campaignAddBtn.on('click',function(e){

			});

			campaignDelBtn.on('click',function(e){

			});
		});
	</script>
</body>
</html>
