<div style='
display: -webkit-box; /* OLD: Safari, iOS 6 and earlier; Android browser, older WebKit */  
display: -moz-box; /* OLD: Firefox (can be buggy) */  
display: -ms-flexbox; /* OLD: IE 10 */  
display: -webkit-flex; /* FINAL, PREFIXED, Chrome 21+ */  
display: flex; /* FINAL: Opera 12.1+, Firefox 22+ */  
-webkit-box-align: center;  
-moz-box-align: center;  
-ms-flex-align: center;  
-webkit-align-items: center;  
align-items: center;  
-webkit-box-pack: center;  
-moz-box-pack: center;  
-ms-flex-pack: center;  
-webkit-justify-content: center;  
justify-content: center;
'>
    <!-- <div style="position: absolute; bottom: 0;">test</div> -->
    test
</div>