<font face='LORE-Regular' size=10 color='skyblue' style="text-align:center">
  <strong>
    <div style="text-align:center">
      Campaign-Advisor
    </div>
  </strong>
</font>
<br>
<br>

<div class="header-navigation" style="text-align:center">
  <div class="navigation">
    <span class="nav-item v-center"><a href="/one">   </a></span>
    <span class="nav-item v-center"><a href="/two">Campaign registration</a></span>
    <span class="nav-item v-center"><a href="/three">Campaign menagement</a></span>
    <span class="nav-item v-center"><a href="/for">App management</a></span>
    <span class="nav-item v-center"><a href="/five"></a>  </span>
  </div>
</div>
