<font face='LORE-Regular' size=10 color='skyblue'>Campaign-Advisor</font>
<br>
<br>

<div class="header-navigation">
  <div class="navigation">
    <span class="nav-item v-center"><a href="/one"></a></span>
    <span class="nav-item v-center"><a href="/two">News</a></span>
    <span class="nav-item v-center"><a href="/three">Sports</a></span>
    <span class="nav-item v-center"><a href="/for">Music</a></span>
    <span class="nav-item v-center"><a href="/five">Entertainment</a></span>
  </div>
</div>
