
.highlight{
	padding: auto;
	margin: .5em 0 .5em 4em;

}
.highlight a:hover{
	background-color: #cccccc;
}
#modal-campaign-list, #sel-modal-campaign-list {
    border: 1px solid #eee;
    width: 170px;
    height: 300px;
    overflow-y: scroll;
    list-style-type: none;
    margin: 0;
    padding: 5px 5px 5px 5px;
    margin: auto;
}