<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/callout.css' />
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
  <link href="/stylesheets/app-location.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>

</head>
<body>
  <header>
    <%- include('../include/header.ejs') %>
  </header>
  <main>
    <%- include('../'+viewPage,data) %>	
  </main>
  <footer>
    <%- include('../include/footer.ejs') %>
  </footer>

  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>
